<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1>
  <link rel ="stylesheet" href="/css/main.css">

  <title>#(title)</title>
</head>

<body>
    <header></header>
    
    <div class="content">
        <img src = "/images/icon.jpg">
        <span>I'm Illia Honcharenko</span>
    </div>
    
<!-- experience description blocks -->
    <div style="display: flex; padding: 70px 120px 50px 120px;">
        <video controls = "controls" width="500px" height="300px">
            <source src="/videos/InsightsMP4.mp4" type='video/mp4'>
        </video>
        <div style="background-color: #E0FAE7; border-radius: 20px">
            <div style="margin-top: 10px; margin-left: 10px; marging-right: 10px; marging-bottom: 10px;">
                <span>Insights screen shows professional’s statistics based on different data that Bidvine collected. I was responsible for rebuilding the entire screen and this is what this task involved:</span>
                <ul>
                    <li>showing web views while keeping users logged in</li>
                    <li>laying out inline content, taking into consideration the fact that values can be multiline</li>
                    <li>performing service sorting without experiencing table view glitches</li>
                    <li>redirecting users to other view controllers</li>
                    <li>working with attributed string to achieve colored text</li>
                </ul>
                <span>Old codebase wasn’t scalable as view controller basically contained all code, had memory leaks, was gigantic, and slow. After rebuilding the screen, we were able to extend functionality easily.</span>
            </div>
        </div>
    </div>
    
    
    
    <main>
  <h1>#(body)</h1>
    </main>
    
    <script src="/javascript/main.js"></script>
</body>
</html>
