<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width", initial-scale=1>
  <link rel ="stylesheet" href="/css/main.css">

  <title>#(title)</title>
</head>

<body style="background: #222;">
    <header></header>
    
    <div class="headerStyle">
        <img src = "/images/icon.jpg">
        <div>
            <span>I'm Illia Honcharenko</span>
            <span style= "font-size: 40px">iOS Developer</span>
        </div>
    </div>
    
    <div class="aboutMeStyle">
        <span style="font-size: 34px;">About me</span>
        <span style="font-size: 22px;">
            I am an experienced iOS developer with 2 years of commercial work experience in dynamic and deadline-driven work environments.  I am an extremely focused and ambitious individual with the ability to learn swiftly opting to settle for nothing less than excellence. I have developed a good understanding of agile methodologies while working at my previous company. I find passion in developing iOS apps of all scales.
        </span>
        <div style="padding-top: 40px;">
            <button class="commonButtonStyle" onclick="javascript:sendEmail();">Email me</button>
            <button class="commonButtonStyle" onclick="javascript:openCV();">Take a look at my CV</button>
        </div>
    </div>
    
<!-- experience description blocks -->
    <div style="background: #fff">
        <span class="experienceHeaderStyle">Commercial experience</span>
        <div class="bidvineWorkExperienceStyle">
            <img src = "/images/bidvine_logo.png" class="bidvineImageStyle">
            <div style="width: 45%;">
                <span>
                    During my time at Bidvine I had the opportunity to grow as a developer, I was responsible for the development, maintenance of iOS applications, and their integration with back-end services. I worked alongside other engineers developing different layers of the applications.  I was involved in the process of converting the entire pro app from MVC to MVVM, rewriting a customer app, and creating sophisticated design.
                </span>
            </div>
            
        </div>
        
        <div class="workExampleStyle">
            <video controls = "controls" class="videoWorkExampleStyle">
                <source src="/videos/InsightsMP4.mp4" type='video/mp4'>
            </video>
            <div class="workExampleInnerStyle" style="margin-left: 50px; background-color: #E0FAE7;">
                <span>Insights screen shows professional’s statistics based on different data that Bidvine collected. I was responsible for rebuilding the entire screen and this is what this task involved:</span>
                <ul>
                    <li>showing web views while keeping users logged in</li>
                    <li>laying out inline content, taking into consideration the fact that values can be multiline</li>
                    <li>performing service sorting without experiencing table view glitches</li>
                    <li>redirecting users to other view controllers</li>
                    <li>working with attributed string to achieve colored text</li>
                </ul>
                <span>Old codebase wasn’t scalable as view controller basically contained all code, had memory leaks, was gigantic, and slow. After rebuilding the screen, we were able to extend functionality easily.</span>
            </div>
        </div>

        <div class="workExampleStyle">
            <div class="workExampleInnerStyle" style="margin-right: 50px; background-color: #FFF8BC;">
                <span>Bid Insights feature showed the comparison between a current professional and other people who submitted a bid. Also, it was designed to be paid feature, as a result I had to handle different screen states. The existing code was beyond any repair. There were some difficulties that I encountered while implementing this screen:</span>
                <ul>
                    <li>some parts of text were tappable, so I had to come up with custom UI component as iOS doesn’t support it by default</li>
                    <li>to avoid duplicated code, I wrote generic code for Summary tab as those sections had a lot in common.</li>
                    <li>Professionals, who didn’t have this feature had an ability to go to the web payment screen to purchase it and after closing web view, changes were applied to UI.</li>
                    <li>Timeline tab had complex UI as there were components, which must be aligned horizontally and vertically to display information properly.</li>
                    <li>I had to read React Native code to understand all requirements.</li>
                </ul>
                <span>Overall, implementing this screen gave me significant knowledge and techniques. I learned how to efficiently break big task down into small subtasks to achieve desired goal.</span>
            </div>
            <video controls = "controls" class = "videoWorkExampleStyle">
                <source src="/videos/BidInsightsMP4.mp4" type='video/mp4'>
            </video>
        </div>
        
        <div class="workExampleStyle">
            <video controls = "controls" class="videoWorkExampleStyle">
                <source src="/videos/PaymentMethodsMP4.mp4" type='video/mp4'>
            </video>
            <div class="workExampleInnerStyle" style="margin-left: 50px; background-color: #FFE9E3;">
                <span>Payment methods screen allowed professionals to add credit cards or PayPal to pay for the contact with the customer. Initially, it was just a web view and our primary task was to reduce number of web views, so I was assigned to turn it into native screen. Some of the challenges that I faced:</span>
                <ul>
                    <li>Table view cells had an async state because we can’t guarantee that API calls will be always successful.</li>
                    <li>Error-handling different scenarios such as removing default payment method and adding invalid payment methods.</li>
                    <li>Adapting layout for small screens as well as large ones.</li>
                    <li>Transitioning between screen states.</li>
                </ul>
                <span>Ultimately, I gained experience in handling async UI as well as improved my error-handling skills.</span>
            </div>
        </div>
        
        <span class="experienceHeaderStyle" style="padding-top: 50px;">Projects</span>
        <div class="workExampleStyle" style="padding-top: 30px;">
            <div class="workExampleInnerStyle" style="margin-right: 50px; background-color: #C7D4F6;">
                <span>
                Quit smoke app is designed to help people cut down smoking. It has some paid content, which becomes available after purchasing weekly subscription, so managing global app state properly was essential. While working on this app I sharpened my skills at reactive programming, got familiar with in app purchases, and submitted an app to AppStore.
                </span>
                <span>
                    Note: all design decisions were made by other people as it was my freelance job.
                </span>
            </div>
            <video controls = "controls" class = "videoWorkExampleStyle">
                <source src="/videos/smokin_proj.MP4" type='video/mp4'>
            </video>
        </div>
    </div>
    
    <main>
        <h1>#(body)</h1>
    </main>
    
    <script src="/javascript/main.js"></script>
</body>
</html>
