#define(projectExample):
#for(example in projectExamples):
    <div class="workExampleStyle">
        #if(example.index % 2 == 0):
            <div class="workExampleStyle" style="padding-top: 30px;">
                <video controls = "controls" class = "videoWorkExampleStyle">
                    <source src="#(example.video)" type='video/mp4'>
                </video>
                <div class="workExampleInnerStyle" style="margin-left: 50px; background-color: #(example.bgColor);">
                    <span>#(example.topText)</span>
                    <span>#(example.bottomText)</span>
                </div>
            </div>
        #else:
            <div class="workExampleStyle" style="padding-top: 30px;">
                <div class="workExampleInnerStyle" style="margin-right: 50px; background-color: #(example.bgColor);">
                    <span>#(example.topText)</span>
                    <span>#(example.bottomText)</span>
                </div>
                <video controls = "controls" class = "videoWorkExampleStyle">
                    <source src="#(example.video)" type='video/mp4'>
                </video>
            </div>
        #endif
    </div>
#endfor
#enddefine
#inline("index")


        
