.content {
    display: -webkit-inline-box;
    flex: 1 0 auto;
    margin-top: 30px;
    margin-left: 40px;
    clear: left;   
}

.content img {
    width: 30%;
    height: auto;
}

.content span {
    display: inline block;
    vertical-align: middle;
    line-height: normal
}
