.headerStyle {
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
}

.headerStyle img {
    width: 30%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #EFEFEF;
}

.headerStyle span {
    position: relative;
    display: block;
    padding: 10px;
    font-size: 56px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #EFEFEF;
}

.workExampleStyle {
    display: inline-flex;
    align-items: center;
    padding: 70px 120px 50px 120px;
}

.workExampleInnerStyle {
    border-radius: 20px;
    padding: 100px 100px;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 17px;
}

.videoWorkExampleStyle {
    width: 20%;
    height: auto;
}

.aboutMeStyle {
    color: #EFEFEF;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.aboutMeStyle span {
    display: block;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.commonButtonStyle {
    border: none;
    color: #EFEFEF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;

    background-color: #EFEFEF;
    color: #222;
    border: 2px solid #BF5AF2;
}

.commonButtonStyle:hover {
  background-color: #BF5AF2;
  color: #EFEFEF;
}
